body {
    padding:  0px;
    margin: 0px;
}
.header {
    background-color: blue;
    color: white;
    text-align: center;
    top: 0px;
    width: 100%;
    padding: 5px;
}
form {
    width: 40%;
    padding: 30px;
    border: 1px solid #cbcbcb;
    margin: 5px auto;
}
.textinput {
    margin-top: 2px;
    height: 20px;
    border: 1px solid #5E6E66;
    font-size: 16px;
    padding: 1px;
    width: 100%;
}
#error_message {
    width:  50px;
    margin: 5px auto;
    height:  30px;
    border: 1px solid #FF0000;
    background: #FF0000;
    text-align: center;
    padding-top: 10px;
}
td {
    text-align: right;
}